# Web Scrapping Assignment selenium

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [31]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [32]:
# Lets first connect to the web driver
driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\bipas\AppData\Local\Temp/ipykernel_20080/763135949.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

In [33]:
driver.get("https://www.naukri.com/")

In [34]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [35]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [36]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [37]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [38]:
# Scraping job title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# Scraping job location
location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping Company name
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#Scraping job experience
experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [39]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [40]:
df = pd.DataFrame({'job_title':job_title, 'job_location':job_location, 'company_name':company_name, 'experience':experience_required})
df

,job_title,job_location,company_name,experience
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,HCL hiring For Data Analyst,"Bangalore/Bengaluru, Pune, Chennai",HCL Technologies,3-8 Yrs
2,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
3,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
4,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs
5,Programmer / Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Frost & Sullivan,3-7 Yrs
6,Immediate opening For Data Analyst @ Bangalore,Bangalore/Bengaluru,TeamLease,4-6 Yrs
7,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
8,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru(Domlur),KrazyBee,3-5 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [41]:
driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\bipas\AppData\Local\Temp/ipykernel_20080/1784537517.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

In [42]:
driver.get("https://www.naukri.com/")

In [43]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [44]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Banglore')

In [45]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [46]:
job_title=[]
job_location=[]
company_name=[]

In [47]:
# Scraping job title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# Scraping job location
location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping Company name
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [48]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [49]:
df1 = pd.DataFrame({'job_title':job_title, 'job_location':job_location, 'company_name':company_name})
df1

,job_title,job_location,company_name
0,Job Opportunity on Data Science_ Python with T...,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Tech Mahindra
1,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited
4,Data Scientist/AIML Engineer,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",upGrad
5,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture
6,Data Science Consultant,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",ZS Associates India Pvt Ltd
7,Lead ML Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Analytics
8,Tcs Hiring For Data Scientist,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
9,Data Scientist - II,"India, Bangalore/Bengaluru, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [50]:
driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\bipas\AppData\Local\Temp/ipykernel_20080/1784537517.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

In [51]:
driver.get("https://www.naukri.com/")

In [52]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [53]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [60]:
#Ticking on Delhi-NCR

from selenium.webdriver.support.ui import WebDriverWait
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[2]/div[3]/div[2]/div[1]/div/div[1]/div[3]/label/p/span[1]').click()

In [63]:
# Ticking on 0-3 lacs salary

from selenium.webdriver.support.ui import WebDriverWait
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[1]/div[2]/div[2]/label/p/span[1]').click()

In [64]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [65]:
# Scraping job title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# Scraping job location
location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping Company name
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#Scraping job experience
experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [66]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [67]:
df2 = pd.DataFrame({'job_title':job_title, 'job_location':job_location, 'company_name':company_name, 'experience':experience_required})
df2

,job_title,job_location,company_name,experience
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
3,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
4,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
5,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
6,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
7,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
8,Data Scientist,Noida,4i Odc,2-4 Yrs
9,"Data Scientist, Associate",Delhi / NCR,NatWest Group,2-7 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then 
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [68]:
driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\bipas\AppData\Local\Temp/ipykernel_20080/1784537517.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

In [75]:
driver.get("https://www.flipkart.com/")

In [76]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [77]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [81]:
Brand=[]
Product=[]
Price=[]

In [82]:
# Scraping Brand Name
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in Brand_tags:
    brands=i.text
    Brand.append(brands)
    
# Scraping product information
Product_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_tags:
    products=i.text
    Product.append(products)
    
#Scraping Price 
Price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags:
    price=i.text
    Price.append(price)

In [84]:
print(len(Brand), len(Product), len(Price))

40 40 40

In [85]:
nextt=driver.find_element(By.CLASS_NAME,"_1LKTO3")
nextt.click()

In [86]:
# Scraping Brand Name
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in Brand_tags:
    brands=i.text
    Brand.append(brands)
    
# Scraping product information
Product_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_tags:
    products=i.text
    Product.append(products)    
    

#Scraping Price 
Price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags:
    price=i.text
    Price.append(price)

In [87]:
print(len(Brand), len(Product), len(Price))

80 80 80

In [88]:
nextt=driver.find_element(By.CLASS_NAME,"_1LKTO3")
nextt.click()

In [89]:
# Scraping Brand Name
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in Brand_tags[0:20]:
    brands=i.text
    Brand.append(brands)
    
# Scraping product information
Product_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in Product_tags[0:20]:
    products=i.text
    Product.append(products)    
    

#Scraping Price 
Price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags[0:20]:
    price=i.text
    Price.append(price)

In [90]:
print(len(Brand), len(Product), len(Price))

100 100 100

In [92]:
df3 = pd.DataFrame({'Brand':Brand, 'Product':Product, 'Price':Price})
df3

             Brand                                            Product   Price
0           PIRASO          UV Protection Rectangular Sunglasses (52)    ₹246
1     Singco India  Gradient, Toughened Glass Lens, UV Protection ...    ₹607
2   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹319
3       PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...    ₹369
4   ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...    ₹359
..             ...                                                ...     ...
95        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹759
96   VINCENT CHASE  by Lenskart UV Protection Clubmaster Sunglasse...  ₹1,049
97    Singco India  Gradient, Toughened Glass Lens, UV Protection ...    ₹607
98  ROZZETTA CRAFT  Mirrored, UV Protection Round Sunglasses (Free...    ₹359
99   VINCENT CHASE  by Lenskart UV Protection Clubmaster Sunglasse...  ₹1,049

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.
You will reach to the below shown webpage:
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually

In [99]:
driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\bipas\AppData\Local\Temp/ipykernel_20080/1784537517.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

In [100]:
driver.get("https://www.flipkart.com/")

In [101]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('iphone 11')

In [102]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [103]:
Rating=[]
Review_summary=[]
Full_review=[]

In [115]:

    
    
review_location=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[2]/span[2]/span/span[3]').click()

In [126]:
# Scraping Rating
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')

for i in Rating_tags:
    ratings=i.text
    Rating.append(ratings)
    
review_summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review_summary:
    summary=i.text
    Review_summary.append(summary)
 
                                                 
Full_summary=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in Full_summary:
    summary_f=i.text
    Full_review.append(summary_f)

In [127]:
print(len(Rating), len(Review_summary), len(Full_review))

0 0 0

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [128]:
driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\bipas\AppData\Local\Temp/ipykernel_20080/1784537517.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

In [129]:
driver.get("https://www.flipkart.com/")

In [130]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [131]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [145]:
Brand=[]
Product=[]
Price=[]
Discount=[]

In [147]:
# Scraping Brand Name
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in Brand_tags:
    brands=i.text
    Brand.append(brands)
    
# Scraping product information
#for i in range(0,40):
    Product_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    if Product_tags == 0:
        Product_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"] ')
        
for i in Product_tags:
    products=i.text
    Product.append(products)    
#Scraping Price 
Price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags:
    price=i.text
    Price.append(price)
    
#Scraping Discount
Dc_tags = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in Dc_tags:
    off=i.text
    Discount.append(off)

In [148]:
print(len(Brand), len(Product), len(Price),len(Discount))

40 32 40 40

In [150]:
nextt=driver.find_element(By.CLASS_NAME,"_1LKTO3")
nextt.click()

In [151]:
# Scraping Brand Name
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in Brand_tags:
    brands=i.text
    Brand.append(brands)
    
# Scraping product information
#for i in range(0,40):
    Product_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    if Product_tags == 0:
        Product_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"] ')
        
for i in Product_tags:
    products=i.text
    Product.append(products)    
#Scraping Price 
Price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags:
    price=i.text
    Price.append(price)
    
#Scraping Discount
Dc_tags = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in Dc_tags:
    off=i.text
    Discount.append(off)

In [152]:
print(len(Brand), len(Product), len(Price),len(Discount))

80 67 80 80

In [153]:
nextt=driver.find_element(By.CLASS_NAME,"_1LKTO3")
nextt.click()

In [154]:
# Scraping Brand Name
Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

for i in Brand_tags[0:20]:
    brands=i.text
    Brand.append(brands)
    
# Scraping product information
#for i in range(0,40):
    Product_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    if Product_tags == 0:
        Product_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"] ')
        
for i in Product_tags[0:20]:
    products=i.text
    Product.append(products)    
#Scraping Price 
Price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags[0:20]:
    price=i.text
    Price.append(price)
    
#Scraping Discount
Dc_tags = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in Dc_tags[0:20]:
    off=i.text
    Discount.append(off)

In [155]:
print(len(Brand), len(Product), len(Price),len(Discount))

100 87 100 100

In [158]:
df5 = pd.DataFrame({'Brand':Brand, 'Price':Price, 'Discount':Discount})
df5

                  Brand Price Discount
0   World Wear Footwear  ₹649  56% off
1                 BIRDE  ₹450  69% off
2                 Xtoon  ₹424  71% off
3                Labbin  ₹399  60% off
4                    TR  ₹295  80% off
..                  ...   ...      ...
95          COOPERWINGS  ₹269  73% off
96              Dizzler  ₹479  33% off
97            bluemaker  ₹479  52% off
98                Sparx  ₹619  27% off
99               Rzisbo  ₹412  58% off

[100 rows x 3 columns]

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image

In [159]:
driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\bipas\AppData\Local\Temp/ipykernel_20080/1784537517.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

In [160]:
driver.get("https://www.myntra.com/shoes")

In [161]:
from selenium.webdriver.support.ui import WebDriverWait
color=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]').click()

In [162]:
price=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label').click()

In [163]:
Brand=[]
Description=[]
Price=[]

In [166]:
# Scraping Brand Name
Brand_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')

for i in Brand_tags:
    brands=i.text
    Brand.append(brands)
    
# Scraping product information
#for i in range(0,40):
Product_tags = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
           
for i in Product_tags:
    products=i.text
    Description.append(products)    
#Scraping Price 
Price_tags = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
for i in Price_tags:
    price=i.text
    Price.append(price)

In [167]:
print(len(Brand), len(Description), len(Price))

50 50 50

In [168]:
nextt=driver.find_element(By.CLASS_NAME,"pagination-next")
nextt.click()

In [169]:
# Scraping Brand Name
Brand_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')

for i in Brand_tags:
    brands=i.text
    Brand.append(brands)
    
# Scraping product information
#for i in range(0,40):
Product_tags = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
           
for i in Product_tags:
    products=i.text
    Description.append(products)    
#Scraping Price 
Price_tags = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
for i in Price_tags:
    price=i.text
    Price.append(price)

In [170]:
print(len(Brand), len(Description), len(Price))

100 100 100

In [172]:
df6 = pd.DataFrame({'Brand':Brand, 'Description':Description, 'Price':Price})
df6

,Brand,Description,Price
0,ADIDAS Originals,Men Niteball II Sneakers,Rs. 9349Rs. 10999(15% OFF)
1,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7880Rs. 8295(5% OFF)
2,Nike,Men React Infinity 3 Running,Rs. 13295Rs. 13995(5% OFF)
3,ADIDAS Originals,Men Leather Niteball Sneakers,Rs. 10799Rs. 11999(10% OFF)
4,Puma,Eternity Nitro Running Shoes,Rs. 12999
...,...,...,...
95,J.FONTINI,Men Formal Shoes,Rs. 7490
96,Tommy Hilfiger,Women Leather Sneakers,Rs. 8599
97,Skechers,Women Arch Fit Slip-On Sneaker,Rs. 7999
98,Tommy Hilfiger,Women Leather Kitten Sandals,Rs. 7199Rs. 7999(10% OFF)
99,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [176]:
driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\bipas\AppData\Local\Temp/ipykernel_20080/1784537517.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

In [177]:
driver.get("https://www.amazon.in/")

In [184]:
product=driver.find_element(By.ID,"twotabsearchtextbox")
product.send_keys('laptop')

In [185]:
search_button = driver.find_element(By.ID, 'nav-search-submit-button')
search_button.click()

In [186]:

CPU=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[5]/li[10]/span/a/span').click()

In [206]:
Title=[]
Ratings=[]
Price=[]

In [207]:
# Scraping title
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')

for i in title_tags[0:10]:
    title=i.text
    Title.append(title)
    
# Scraping job location
Rating_tags = driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for i in Rating_tags[0:10]:
    rating=i.text
    Ratings.append(rating)
    
#Scraping Company name
price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price_=i.text
    Price.append(price_)

In [208]:
print(len(Title), len(Ratings), len(Price))

10 10 10

In [209]:
df7 = pd.DataFrame({'Title':Title, 'Ratings':Ratings, 'Price':Price})
df7

                                               Title Ratings     Price
0  MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...            54,990
1  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....            80,990
2  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...            82,990
3  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...            62,990
4  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...          1,06,999
5  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...            59,990
6  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...          1,60,999
7  (Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...            23,997
8  (Renewed) HP Elitebook 840G1-i7-8 GB-2 TB 14-i...            41,690
9  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...            82,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [210]:
driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\bipas\AppData\Local\Temp/ipykernel_20080/1784537517.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

In [211]:
driver.get("https://www.ambitionbox.com/")

In [212]:
option=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a').click()

In [215]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')


#designation=driver.find_element(By.CLASS_NAME,"twitter-typeahead")
designation.send_keys('Data Scientist')

In [217]:
search=driver.find_element(By.CLASS_NAME,'ctas-btn-medium')
search.click()

In [218]:
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p').click()

In [219]:
option2=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[8]/div/label').click()

In [220]:
job_title=[]
company_name=[]
experience_required=[]

In [221]:
# Scraping job title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')

for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    

#Scraping Company name
company_tags = driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#Scraping job experience
experience_tags = driver.find_elements(By.XPATH,'//p[@class="body-small-l"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [222]:
print(len(Title), len(company_name), len(experience_required))

10 10 10

In [225]:
df8 = pd.DataFrame({'Title':job_title,'company' :company_name, 'Info':experience_required})
df8

,Title,company,Info
0,Quality Engineer,Optum Global Solutions (India) Private Limited,3-8 years
1,Data Scientist- SAS Analyst,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED,"Pune, Bengaluru/Bangalore, Hyderabad/Secundera..."
2,EY GDS - Data Scientist (10-20 yrs),EY GDS,2-7 Yrs
3,Data Scientist,GLOBALLOGIC INDIA PRIVATE LIMITED,Not Disclosed
4,Hiring For Genpact-Data Scientist- Forecasting...,GENPACT India Private Limited,Noida
5,Genpact - Data Scientist - Forecasting/Python/...,Genpact,"Unix, oracle, data scientists +4 more"
6,Data Scientist,Ericsson India Global Services Pvt. Ltd.,2-7 Yrs
7,Data Scientist - Machine Learning Algorithms (...,Dew Solutions Pvt. Ltd.,Not Disclosed
8,Data Scientist,One97 Communications Limited,Noida
9,EY - Data Engineer - Data Integration/Modeling...,EY,"python, sas, data science +6 more"

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe

In [226]:
driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

C:\Users\bipas\AppData\Local\Temp/ipykernel_20080/1784537517.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\bipas\Downloads\chromedriver_win32\chromedriver.exe")

In [227]:
driver.get("https://www.ambitionbox.com/")

In [235]:
option=driver.find_element(By.CLASS_NAME,"subNavListItem")
#option.send_keys('Data Scientist')
option.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=105.0.5195.52)
Stacktrace:
Backtrace:
	Ordinal0 [0x011DDF13+2219795]
	Ordinal0 [0x01172841+1779777]
	Ordinal0 [0x01084100+803072]
	Ordinal0 [0x010B3FB6+999350]
	Ordinal0 [0x010A9B76+957302]
	Ordinal0 [0x010CE7FC+1107964]
	Ordinal0 [0x010A94B4+955572]
	Ordinal0 [0x010CEA14+1108500]
	Ordinal0 [0x010DF192+1175954]
	Ordinal0 [0x010CE616+1107478]
	Ordinal0 [0x010A7F89+950153]
	Ordinal0 [0x010A8F56+954198]
	GetHandleVerifier [0x014D2CB2+3040210]
	GetHandleVerifier [0x014C2BB4+2974420]
	GetHandleVerifier [0x01276A0A+565546]
	GetHandleVerifier [0x01275680+560544]
	Ordinal0 [0x01179A5C+1808988]
	Ordinal0 [0x0117E3A8+1827752]
	Ordinal0 [0x0117E495+1827989]
	Ordinal0 [0x011880A4+1867940]
	BaseThreadInitThunk [0x74FC6739+25]
	RtlGetFullPathName_UEx [0x771090AF+1215]
	RtlGetFullPathName_UEx [0x7710907D+1165]